html,
body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.app {
  display: flex;
}

/* ----- Nav ------ */

nav {
  height: 100vh;
  background-color: rgb(43, 43, 63);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav .logo-container,
nav .controls-container {
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
}

nav .logo-container img {
  max-width: 20px;
}

nav .icon {
  color: rgb(255, 255, 255);
}

.controls-container {
  gap: 5px;
}

/* ----- Home Page ------ */

.homePage,
.job-board,
.profile-page,
.contacts-page,
.feeds-page,
.documents-page {
  padding: 20px;
  width: 100%;
  overflow: scroll;
}

/* ----- Tracker ------ */

.tracker {
  width: 100%;
}

.tracker-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid gray;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
}

.tracker-list-item {
  border: 1px solid lightgray;
  padding: 20px;
  max-width: 150px;
  text-align: center;
  flex: 1;
}

/* ----- Job Board ------ */

.job-board {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.job-table {
  width: 100%;
  border: 1px solid lightgray;
}

/* ----- Job Table ------ */

.job-table-header * {
  border: 1px solid red;
}

.job-table-body * {
  border: 1px solid blue;
  text-align: center;
}
